.carrouselContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bannerCarrousel {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  height: 500px;
  scroll-snap-type: x mandatory;
  overflow: scroll;
  > * {
    border-radius: var(--radius);
    height: 500px;
    scroll-snap-align: center;
  }
}

.buttonCarrousel {
  --buttonGap: 10px;
  position: absolute;
  opacity: 0;
  z-index: 10;
  width: 50px;
  height: 50px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
  border: 0px solid transparent;
  color: var(--foreground);
  border-radius: 100vw;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}
.carrouselContainer:hover .buttonCarrousel {
  opacity: 1;
}

.buttonCarrousel[id="buttonCarrouselLeft"] {
  left: var(--buttonGap);
}
.buttonCarrousel[id="buttonCarrouselRight"] {
  right: var(--buttonGap);
}

.buttonCarrousel[id="buttonCarrouselLeft"]:hover {
  transform: translateX(-20%);
}

.buttonCarrousel[id="buttonCarrouselRight"]:hover {
  transform: translateX(20%);
}
