.shopLayout {
  display: flex;
  flex-direction: column;
  padding-inline: 15rem;
  gap: 1rem;
}

.contentContainer {
  position: relative;
  display: flex;
  /* gap: 1rem; */
  width: 100%;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: auto;
  gap: 1rem;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
