.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  padding-inline: 2rem;
  height: 90vh;
}

.cartItemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  grid-column: span 3;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.checkoutContainer {
  grid-column: span 1;
}

.cartButtonContainer {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
  width: 100%;
  height: 50px;
  background-color: var(--background-transparent);
  backdrop-filter: blur(10px);
  button {
    padding: 0.5rem;
    width: max-content;
  }
}
