:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: rgb(202, 202, 202);
  --border-muted: rgb(202, 202, 202);
  --muted: rgb(202, 202, 202);
  --radius: 10px;
  --spacing: 2rem;
  --bold: bold;
  --light-bold: 300;

  --danger: red;
  --warning: orange;
  --success: green;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
