.productCardContent {
  display: grid;
  gap: 2rem;
  padding-block: 30px;
  padding-inline: 50px;
  box-shadow: inset 0 0 5px 0px gray;
  border-radius: 10px;
  grid-auto-flow: column;
  grid-auto-columns: 400px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  & > * {
    scroll-snap-align: center;
  }
}

.cardButtonContainer {
  position: relative;
  & > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    cursor: pointer;
    border: none;
    box-shadow: inset 0 0 3px 0 gray;
    width: 60px;
    height: 60px;
    z-index: 2;
    border-radius: 50%;
    transition: background 0.5s ease;
  }
  .prevCardButton {
    left: -30px;
    transition: left 0.5s ease;
    &:hover {
      left: -35px;
      /* box-shadow: 4px 4px 0 0 var(--border-muted); */
    }
  }

  .nextCardButton {
    right: -30px;
    transition: right 0.5s ease;
    &:hover {
      right: -35px;
      /* box-shadow: 4px 4px 0 0 var(--border-muted); */
    }
  }
}
