.filterContainer {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 300px;
  padding: 20px;
  gap: 1rem;
  background: var(--background);
  box-shadow: inset 0 0 5px 0 gray;
  border-radius: var(--radius);
}

.rowFilterList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  position: relative;
  padding-block: 10px;
  gap: 0.5rem;
  .filterListPrice {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  & > li {
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    flex-wrap: nowrap;
    gap: 0.5rem;
    & > label {
      font-weight: var(--bold);
    }
  }
}

.columnFilterList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style-type: none;
  justify-content: center;
  position: relative;
  padding-block: 10px;
  & > li {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 0.5rem;
    & > label {
      font-weight: var(--bold);
    }
    & > input {
      accent-color: var(--success);
    }
  }
}

.sizeNameLabel {
  text-transform: uppercase;
}

.dataList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: 100%;
}

.filterTitle {
  text-transform: uppercase;
}
