.button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0;
    text-align: center;
    justify-content: center;
    padding-block: 0.75rem;
    padding-inline: 0.75rem;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    background: none;
    color: var(--foreground);
    border: 2px solid;
    transition: gap 0.3s ease;
    > * {
        color: transparent;
        transition: color 0.5s ease;
    }
}
.button:hover,
.buttonActive {
    background: var(--foreground);
    color: var(--background);
}

.buttonActive {
    gap: 0.5rem;
    > * {
        color: var(--background);
    }
}
