.navbar {
  top: 0;
  width: 100vw;
  height: max-content;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  z-index: 20;
  background: var(--background);
  .brandname {
    position: relative;
    text-transform: uppercase;
    span {
      position: absolute;
      left: 10px;
      bottom: 0px;
      filter: opacity(0.75);
      color: var(--foreground);
      z-index: 10;
    }
  }

  @media (max-width: 768px) {
    .navbar {
      padding: 10px;
    }
  }
}

.navbarStart {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.navbarItem {
  text-transform: uppercase;
}

.navbarItemContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  gap: 1rem;
}

.navbarCategoryContainer {
  position: fixed;
  top: 6rem;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  background: var(--background);
  color: var(--foreground);
  justify-content: end;
  overflow: hidden;
  border-top: 0px solid var(--background);
  padding: 0;
  gap: 2rem;
  width: 100%;
  height: 0;
  transition:
    border-top 0.1s ease,
    height 0.3s ease,
    padding 0.1s ease;
}

.navbarCategoryContainerActive {
  height: 400px;
  padding: 1rem;
  border-top: 3px solid var(--foreground);
}

.navbarCategory,
.navbarSubCategory {
  list-style-type: none;
}
.navbarCategory {
  display: flex;
  flex-direction: column;
  width: 1fr;
  text-wrap: nowrap;
  align-items: end;
  gap: 1rem;
  > * {
    width: 100%;
  }
}

.navbarSubCategory {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  overflow: hidden;
  width: 0;
  gap: 1rem;
  justify-content: end;
  height: max-content;
  transition: width 0.4s ease;
}

.navbarSubCategoryActive {
  width: 100%;
}

.navbarCategoryButton {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0;
  text-align: center;
  justify-content: center;
  padding-block: 0.75rem;
  padding-inline: 0.75rem;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  color: var(--foreground);
  border: 2px solid;
  transition: gap 0.3s ease;
  > * {
    color: transparent;
    transition: color 0.5s ease;
  }
}
.navbarCategoryButton:hover,
.navbarCategoryButtonActive {
  gap: 0.5rem;
  background: var(--foreground);
  color: var(--background);
  > * {
    color: var(--background);
  }
}
