.navbar {
  position: relative;
  width: 100%;
  height: 90px;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  z-index: 10;

  /* background-color: #ffffff; */
  /*box-shadow: inset 0 0 10px 0px gray;*/
  /*background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10px) saturate(180%);*/
  /*border: 1px solid rgba(255, 255, 255, 0.15);*/
  /*border-radius: var(--border-muted);*/
  /* border-bottom: 2px solid var(--border-muted); */
  .navbarItem {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    z-index: 10;
    text-transform: uppercase;
  }

  @media (max-width: 768px) {
    .navbar {
      padding: 10px;
    }
  }
}

.navbarSubItem {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  display: flex;
  flex-direction: row;
  background: transparent;
  overflow: hidden;
  color: transparent;
  justify-content: end;
  gap: 3rem;
  padding: 20px;
  width: 100%;
  transition:
    color 0.5s ease,
    background 0.5s ease,
    top 0.5s ease;
  > * {
    text-transform: uppercase;
    width: max-content;
    height: max-content;
  }
}

.navbarSubItemShow {
  top: 5vh;
  background: var(--background);
  color: var(--foreground);
}
