.verticalPoints {
    position: fixed;
    right: 0;
    top: 50%;
    padding: 10px 5px 10px 40px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    transition: padding 0.5s ease;
}

.verticalPoints:hover {
    padding: 10px 15px 10px 40px;
    transition: padding 0.5s ease;
}

.verticalPoints:hover .Points {
    width: 25px;
    height: 25px;
    transition:
        width 0.5s ease,
        height 0.5s ease;
}

.horizontalPoints {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
}

.Points {
    position: relative;
    display: flex;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    /*box-shadow: 0 5px 4px 0 black;*/
    border: 2px solid gray;
    transition:
        width 0.5s ease,
        height 0.5s ease;
}

.PointsName {
    position: absolute;
    right: 0;
    z-index: -1;
    color: transparent;
    transition:
        color 0.5s ease,
        right 0.5s ease;
}
.Points:hover .PointsName {
    color: black;
    right: 35px;
    transition:
        color 0.5s ease,
        right 0.5s ease;
}

.Points:active {
    height: 45px;
}
